[2019-06-13 13:21] noconnor29 opened #1 "Missing URL prompt in OPTION 2: Decoders (PP, URL) > OPTION 1: ProofPoint Decoder"
OPTION 2: Decoders (PP, URL) > OPTION 1: ProofPoint Decoder

This option works (the URL is decoded correctly) but upon selecting 'OPTION 1' you're taken to the next line with no prompt for the URL.

Using 'OPTION 2: URL Decoder' presents you with 'url: ' which I think is the intended behavior.

[2019-06-13 13:29] noconnor29 commented on #1
It seems to work just by making edits to line 85:
`85             rewrittenurl = input('url: ')`

[2019-06-13 13:47] TheresAFewConors commented on #1
It actually still works but there was no prompt to let you know that you could enter a proofpoint link - I've fixed it now so you should get a prompt that says 'Enter ProofPoint URL: ' - let me know if there's any further issues with it.

[2019-06-13 13:47] #1 closed

[2019-06-13 13:51] noconnor29 commented on #1
It definitely did work, sorry if I suggested otherwise. It's a small UX thing and was the only issue I noticed. Great tool, thanks for making it.

[2019-06-13 14:32] TheresAFewConors commented on #1
All good buddy - thanks for pointing it out!

Let me know if you spot any other issues

[2019-06-16 10:25] Arkanyus opened #3 "SyntaxError: invalid syntax"
The following Error:

ubuntu@ubuntu-VirtualBox:~/Desktop$ python Sooty.py
  File "Sooty.py", line 7
    [<]!DOCTYPE html[>]
    ^
SyntaxError: invalid syntax

[2019-06-16 14:39] TheresAFewConors commented on #3
Just uploaded a new version that has some bug fixes, give that a try and let me know if the error continues

[2019-06-16 15:00] TheresAFewConors commented on #3
That issue is caused by incorrectly downloading the script, if you are using `wget` or `curl`, you need to pull the `raw` version of the script, found [here](https://raw.githubusercontent.com/TheresAFewConors/Sooty/master/Sooty.py), otherwise you end up with the headers as well from the webpage.

[2019-06-16 15:00] #3 closed

[2019-06-19 11:52] Arkanyus opened #5 "haveibeenpwned functionality"
Would using the HIBP API similarly to the VT API be a possible feature request?

[2019-06-19 15:27] TheresAFewConors commented on #5
That's a great suggestion. I'm working on a new module entirely for emails and I think your idea would be a good addition. I'll make sure it ends up in the email module (early next week most likely).

Thanks for the suggestion.

[2019-06-19 21:19] TheresAFewConors commented on #5
Took a look and it was quite easy to add, so have an early version of a HIBP checker added to the project now.

I'll close this case since the requested feature is not added. Thanks for the request.

[2019-06-19 21:19] #5 closed

[2019-06-19 21:21] Arkanyus commented on #5
Fantastic, thank you. Appreciate your work.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: TheresAFewConors <notifications@github.com>
Sent: Wednesday, June 19, 2019 10:19:14 PM
To: TheresAFewConors/Sooty
Cc: Arkanyus; Author
Subject: Re: [TheresAFewConors/Sooty] haveibeenpwned functionality (#5)

Took a look and it was quite easy to add, so have an early v

[2019-06-19 21:27] TheresAFewConors commented on #5
No prob, if you think of any other features you want added feel free to request them - hope the tool is of some use to you

[2019-06-19 22:17] Arkanyus opened #7 "Suggestions/Enhancements"
Some suggestions:

More IP reputation sources, maybe operating individually but have 'scoring' option that weights them based on total results?
- https://docs.abuseipdb.com/#introduction
- https://www.apivoid.com/api/ip-reputation/

Bitcon address reputation checker:
- https://www.bitcoinabuse.com/api-docs

Some kind of phone number reputation checker:
- https://ekata.com/solutions/identity-check/

[2019-06-21 10:07] euanbirch opened #8 "Add Phish Tank Capability"
#7 https://www.phishtank.com/api_info.php - Verify if a URL has been used in a phishing attack

[2019-06-21 10:08] euanbirch commented on #8
#7 https://github.com/AlienVault-OTX/ApiV2 - Add Threat Crowd functionality

[2019-06-21 13:51] TheresAFewConors commented on #7
Thanks for adding some more suggestions.

- I'll take a look at AbuseIPDB again, the tool was originally using it but I removed it due to issues with consistency, although it did have a nice scoring system.

- APIvoid unfortunately costs money, so I'm not sure how many people would want to pay for an API key, although if there's enough interest I'll add it.

- Bitcoin rep checker could be useful

[2019-06-21 13:54] TheresAFewConors commented on #8
- I will take a look into PhishTank - I'm currently working on a phishing specific module for the 1.2 release so it could be a great addition to the module.

- AlienVault is already in the works for the rep checker - the more checks that are done against reliable sites the better the info imo.

tldr;
PhishTank - Most Likely
AlientVault - Definitely

Thanks for the submission - I'll keep this ticke

[2019-06-24 20:38] Arkanyus opened #9 "Email/Phishing Headers"
Nice work on the enhancements, I'll keep adding until you tell me to stop haha

- A decoder along the lines of >> Paste internet headers from email >> tool outputs fields of interest (e.g Sender IP, Original true sender address, SPF etc.) in a pretty and liftable snippet

[2019-06-24 21:12] TheresAFewConors commented on #9
Haha keep 'em coming!

That's actually a feature I'm working on right now, it works by choosing the email in a file explorer - it then extracts all the email addresses from the email, next I need to get the URL extractor working and then it's on to the headers for analysis - aiming for completion on Friday (if all goes well)

Again I'll keep this ticket open as a reminder and close it when complet

[2019-06-25 19:26] andthenenteredalex opened #10 "urlscan.io"
Hello. I have python code for integration with urlscan.io (api key required). If this is a feature you'd like to add I can create a pull request.

[2019-06-25 19:26] andthenenteredalex commented on #10
Cheers

[2019-06-25 19:31] TheresAFewConors commented on #10
Hi andthenenteredalex,

That would be a huge help - I'm working on a different section right now but the urlscan integration is something that would be quite beneficial to the project, and something I've been planning on adding

If you want to open a pull request and integrate it with the reputation checker, I'll take a look and we can see about merging

Thanks very much

[2019-06-26 06:01] TheresAFewConors commented on #9
Ok so released the first iteration of the header analyser, its only tested with .msg files from outlook right now, but I'll add the .eml files next

[2019-06-27 05:40] Arkanyus commented on #9
Getting an error with an Outlook .msg file, not much additional info to be able to give on the error and i assume its working fine for you

[2019-06-27 09:25] TheresAFewConors commented on #9
Hmm that is strange.

- For the outlook error: what OS are you on? I'll take a look and see if I can find any errors.

- I'll take a look at the ipwhois now - I haven't changed it so not sure why its giving an error - regardless I'll take a look.

[2019-06-27 11:36] jsankr opened #11 "unable to run sooty.py"
When try to run Sooty.py in Kali after installing all requirement.txt using pip command with Python3 available.

Getting error when I ran python Sooty.py
Traceback (most recent call last):
  File "Sooty.py", line 13, in <module>
    import urllib.parse
ImportError: No module named parse

[2019-06-27 11:51] TheresAFewConors commented on #11
can you try running `python3 install -r requirements.txt` and then running Sooty again? That specific error is tied to Python2 from what I can see. Let me know how that goes

[2019-06-27 12:01] TheresAFewConors commented on #11
That specific error is tied to using Python 2.

https://stackoverflow.com/questions/29358403/no-module-named-urllib-parse-how-should-i-install-it
https://stackoverflow.com/questions/39648718/how-fix-no-module-named-parse-in-python3-4

Double check your python version with `python -v`

[2019-06-27 14:32] #11 closed

[2019-06-27 19:02] Ekultek opened #12 "Love letter"
Saw the `Check if the IP is a Tor exit node` looked at the code. You would be _amazed_ at how many people don't know about that, good job! https://github.com/TheresAFewConors/Sooty/blob/master/Sooty.py#L204

[2019-06-28 09:24] TheresAFewConors commented on #12
Its extremely important and only takes a second to check - Thanks very much!

These are the types of issues I like the most!

[2019-06-28 09:24] #12 closed

[2019-07-01 08:54] TheresAFewConors commented on #9
Going to close this issue due to no actions to be taken - comment below if the error persists and we'll figure it out.

[2019-07-01 08:54] #9 closed

[2019-07-01 09:18] TheresAFewConors commented on #7
Case closed as main features have been added/assigned.

[2019-07-01 09:18] #7 closed

[2019-07-01 19:42] andthenenteredalex commented on #10
Hey question: What info would you like included from urlscan.io in the response? Depending on the URl, the json response is really large with many fields and can be adjusted to suit.

[2019-07-01 19:43] andthenenteredalex commented on #10
CLEAN example: https://urlscan.io/result/43e49833-2e62-418b-a30a-c2ec0b9a976f/
MALICIOUS example: https://urlscan.io/result/e6a6988a-5247-424a-bd43-14105e350f39/
If you could pick some out from a sample I'll make it happen. Cheers

[2019-07-02 08:45] TheresAFewConors commented on #10
Maybe some info from the summary section would be useful - eg. the main domain, the Verdict, what the score is from urlscan and googlesafebrowsing, and possibly a link to the urlscan report page if possible?

I think the best way to display the info is give whatever is important to a decision in Sooty, but leave a link for further info if necessary as well.

Thanks again - this will be a great add

[2019-07-02 14:28] Arkanyus commented on #10
Just to add to this, the API can save the screenshot of the resolved address as a .png which would be a handy aspect of this tool to consider adding

[2019-07-02 14:33] Arkanyus commented on #9
Apologies for the delayed response.

- I'm using Ubuntu, will see if the spacing was the issue for the email files
- Still getting the ipwhois import issue, is this the right one to use?:
https://github.com/secynic/ipwhois

[2019-07-02 15:44] andthenenteredalex commented on #10
Okay! I'm actively working on cleaning up the results and adding to Sooty. I hope to have the pull request submitted within the next week.

That is correct. Absolutely, I'll be happy to add the screenshot. Unfortunately the screenshots come back all white sometimes when I'm investigating some real things and have not been 100% reliable.

[2019-07-02 15:44] andthenenteredalex commented on #10
If you want to keep collaborating on this, VirusTotal has a URL scan API function too, and so do sites like Any.Run.

[2019-07-02 15:50] TheresAFewConors commented on #10
@andthenenteredalex thanks very much, there's no rush on it - do it in your own time

@Arkanyus a PNG would be useful, however it wouldn't be able to be viewed on the command line - it might be a feature worth revisiting when I have the case update and format added so the image can be embedded in the output perhaps

[2019-07-02 15:54] TheresAFewConors commented on #9
I've modified the code so if a file has a space in its name it will remove it before opening - which seems to have fixed some of the issue - there is still a problem with Python not releasing the emails after though so each can only be checked once per launch

Are you installing from the requirements file? That should be the correct import and version

[2019-07-03 10:59] TheresAFewConors opened #13 "Emails not being released by Python"
**Issue**
Issue caused by Python not releasing the email files.

**Effect**
Emails cannot be opened twice during the same instance.

[2019-07-03 11:02] TheresAFewConors opened #14 "Email not opening if a space is in its name"
**Issue**
Emails don't open on first attempt if a space is in the email name

**Effect**
Emails have to be opened a second time in order for Python to read them

[2019-07-03 11:03] TheresAFewConors commented on #14
**Fix**
Modified code to rename emails without the spaces - temp fix for the time being. Code will have to be reviewed so emails can open *with spaces on the first attempt*

[2019-07-03 15:33] Arkanyus opened #15 "Link Unshortener - https://unshorten.it/"
Another good tool, may overlap with current options but worth mentioning since its had a few additions. The API is mentioned on the contact page.

[2019-07-03 15:45] TheresAFewConors commented on #15
Not a bad suggestion, I'll take a look in the morning as it could be a nice addition to the decoder

[2019-07-04 12:56] Fathonizep opened #16 "Request time"
Hello, I tried to make a file that contains hash list. I make a some modification for list.txt input. I have a purpose for match hash list with vt hash signature to decide its malware or not line by line. But the problem is, that it takes a very long time for giving the result. I am new in programming, so i dont know whats wrong with that. Sorry I'm not fluent in English, i hope u understand what

[2019-07-04 14:42] TheresAFewConors commented on #15
A URL unshortener has been added to the decoder block

[2019-07-04 14:42] #15 closed

[2019-07-04 14:45] TheresAFewConors commented on #16
Hi Fathonizep,

Currently Sooty does not have the functionality to process entire lists of hashes at once (Batch input) partly due to being limited to 4 requests per minute by VirusTotal. The way that is has been scripted is to simply do one check and move on - if you want to upload your modified code to pastebin and leave a link here I'll take a look and see if there's anything I can see to fix t

[2019-07-04 17:42] #16 closed

[2019-07-04 17:50] Fathonizep commented on #16
Im sorry its my mistake. The request takes so long because of my internet connection. I tried to run the script on my vps and its running pretty good. So this issues is closed. Thanks

[2019-07-04 18:45] TheresAFewConors commented on #16
Glad to hear you got it working.

I'm trying to do some bug fixes and then the next update will be based around batch input and output, with a somewhat nice layout for the output.

Those premium VT keys are very handy! If you have any other issues with Sooty feel free to open another case - I'll try and respond as soon as I can

[2019-07-05 05:59] Gurulhu commented on #8
@TheresAFewConors if you don't mind, I kinda got too entertained and added PhishTank verification to my fork.
I could PR this one.

[2019-07-05 06:03] Gurulhu opened #17 "Base64 Decoder"
Add support to Base64 extraction and decoding for URLs.
Already done on my fork, under the Decoders menu.
I just run a regex to detect possible b64 strings and then try to decode each match, printing on success.

[2019-07-05 06:44] TheresAFewConors commented on #8
@Gurulhu yeah if you want to open a PR that'd be extremely helpful - I'll review it this afternoon and we can try get it merged

[2019-07-05 06:47] TheresAFewConors commented on #17
Do you want to open another PR to add this feature?

[2019-07-07 03:27] Gurulhu commented on #8
Sorry, I wasn't able to PR sooner. Up to review already.

[2019-07-07 12:48] #17 closed

[2019-07-07 12:53] TheresAFewConors commented on #17
closed as feature added

[2019-07-07 12:56] TheresAFewConors commented on #8
No worries at all. There's no rush. Just reviewed and left a comment.

[2019-07-10 16:57] andthenenteredalex commented on #10
Let me know if you didn't get the pull request.

[2019-07-10 19:10] TheresAFewConors commented on #10
Apologies for the delay, been extremely busy at work the last few days - I'll try get to it by the end of the week. If not I'll check it Saturday morning

[2019-07-10 19:50] andthenenteredalex commented on #10
Oh no worries or hurry! I just wanted to make sure it got submitted correctly. :) 👍

[2019-07-14 11:43] TheresAFewConors commented on #10
Feature has been approved and merge.

Issue closed

[2019-07-14 11:43] #10 closed

[2019-07-15 17:08] andthenenteredalex opened #21 "More features:"
These are some more things I'm currently working on
VirusTotal
    -URL scan
    -submit file hash
Alien Vault OTX - pull reputation data on:
    -domain
    -ip
Apility (they have a free API, it has a rate limit, but I haven't hit it ever.
    -domain
    -ip

The more sources, the better, since some miss things. If there are more sources, a sort of average "combined threat score" can be found. L

[2019-07-16 13:17] TheresAFewConors commented on #21
Sooty can already submit URL's and hashes to VirusTotal for reports,

The other features could be useful though. Take a look at how the VT reports are done in the rep checker and abuseIPDB do a similar system

[2019-07-29 23:13] Arkanyus opened #22 "HaveIBeenPwned API Now Authenticated and Priced"
Sadly, instead of just tying the API requests to tokens issued on an account like everyone else is doing, Troy has added a monthly cost to it's use. (Which paired with the recent announcement to sell HIBP hints towards a total cash-in on his end)

I suppose the necessary change here would be adding the token field like you've done with the others.

[2019-07-31 18:42] TheresAFewConors commented on #22
Hi Arkanyus,

Thanks for updating me on this - I will take a look at it this week.

Thanks!

[2019-08-01 22:17] TheresAFewConors commented on #22
So I just read the blog on why the pricing has been introduced and can understand where Troy is coming from. Unfortunately that means that the API will no longer be free, and will be removed on Aug 18th. So I will keep the functionality in Sooty until then, and remove it once it starts returning a 400 status.

Closing this ticket as HIBP is unlikely to change their mind before then.

[2019-08-01 22:17] #22 closed

[2019-08-15 21:24] TheresAFewConors commented on #13
Found it was caused by outlook, not Python

[2019-08-15 21:25] #13 closed

[2019-09-13 09:32] #8 closed

[2019-09-13 09:32] TheresAFewConors commented on #8
Closed due to inactivity

[2019-09-20 08:41] ThisIsNotMalware opened #24 "Requisites.txt not updated?"
fixed, no probs. was something with the python version

[2019-09-20 08:47] #24 closed

[2019-09-20 12:52] Beverdam opened #25 "Pywin32 dependency install fails"
Pip install -r requirements.txt results in:

Collecting pywin32==224 (from -r requirements.txt (line 12))
  ERROR: Could not find a version that satisfies the requirement pywin32==224 (from -r requirements.txt (line 12)) (from versions: none)

Same for pip3.

Tried this on both plain Ubuntu 18.04 LTS and Ubuntu 18.04 LTS in Windows subsystem for Linux: same error.

[2019-09-21 11:41] TheresAFewConors commented on #25
Hi Beverdam,

Currently PyWin32 runs exclusively on Windows, so unfortunately the email/phishing module won't run on Ubuntu. I haven't found an appropriate alternative yet, however it is part of the next update to get full Linux compatibility for that specific block as well, including other extensions other than just .msg.

It is high on the ToDo list, and ill update this thread once it's function

[2019-09-21 11:41] #25 closed

[2019-09-21 12:30] OpalSec opened #26 "Reputation Checker can't handle domains"
Using Office365.com as an example, the WhoIs and VT check work fine, but the next two don't:

[code]

Whereas when using the IP that was resolved through the WhoIS check (52.165.129.203):
[code]

Can the script not be tweaked to just use the IP resolved through the WhoIS check to perform those final two checks?

[2019-09-21 22:14] TheresAFewConors commented on #26
Hi OpalSec,

That makes sense, I can tweak it to use the resolved address in case the domain fails. I'll keep this ticket open for now and update you when its been updated.

Thanks for giving feedback

[2019-09-22 19:26] TheresAFewConors commented on #24
Glad to hear you got it working - let me know if you have any issues

[2019-09-24 15:56] aaronjcopley opened #27 "Contributor"
I appreciate the call out as a contributor for the Proofpoint script, but I can't take credit for it. I wanted to be sure that you saw my reply on Gist (https://gist.github.com/aaronjcopley/65a5198bf7b35361fdd315e786be9b9d#gistcomment-2936712) because I also noted there is a newer version published there.

Thanks!

[2019-09-24 21:01] TheresAFewConors commented on #27
Hi Aaron,
I actually ended up using your modified block for a long time since it seemed to be smaller and suited perfectly, its been tweaked slightly now but still functions almost identically. Hence why I contributed you instead of ProofPoint.

I saw the reply, and meant to respond but didn't get a chance, if you want I can take you off the contributors list, although i'm happy to have you on the

[2019-09-24 21:09] aaronjcopley commented on #27
Glad my edits were helpful as small as they were. I just felt I was getting too much credit where it wasn't exactly due. I came across this repo in a search and didn't want the originial authors to be slighted. :)

[2019-09-26 14:16] TheresAFewConors commented on #26
Issue is now resolved. Modified the reputation checker to resolve domain names first and then use the resolved address by default.

Closing.

[2019-09-26 14:16] #26 closed

[2019-10-04 10:29] TheresAFewConors commented on #27
i've modified the readme so everyone is contributed correctly now. The original block of code from PP is linked too, and you still get cred for the modified block - I think that's fair!

[2019-10-07 14:25] ekelson-bcove opened #28 "Requirements.txt install fails on non-windows platforms"
requirements.txt file specifies pywin32 as a requirement, however this only applies if you are using windows.  It will fail if you are not.  Changing to `pywin32==224;  sys_platform == ‘windows’` will fix issue.

[2019-10-07 17:44] TheresAFewConors commented on #28
Issue relates to #29 'Fixed Requirements File'.

[2019-10-07 17:44] TheresAFewConors commented on #28
PR approved and merged with main branch.

Good fix, adding to contributors section

[2019-10-07 17:50] TheresAFewConors commented on #28
Added to contributors. Closing issue.

[2019-10-07 17:50] #28 closed

[2019-10-13 23:47] #27 closed

[2019-10-15 18:40] ghost opened #30 "Analyze an email"
I believe this feature works, I am just not easily understanding how to present it the header?  I select option 1 and I get this:
Error Opening File

 Extracting Headers...
   Header Error
Traceback (most recent call last):
  File "Sooty.py", line 592, in analyzePhish
    print("   FROM:      ", str(msg.SenderName), ", ", str(msg.SenderEmailAddress))
UnboundLocalError: local variable 'msg' referen

[2019-10-15 18:42] bc-jcarlson commented on #30
I also receive this exception when trying to open a .eml file exported from Gmail. I suspect it's expecting a different format.

[2019-10-15 18:46] dbailey-indofmd-org commented on #30
According to the readme it only supports .msg / Outlook files.  However I cannot figure out how it wants me to give it the data.  All the other menus prompt for input.  I have all the API keys input.

[2019-10-15 20:16] TheresAFewConors commented on #30
@dbailey-indofmd-org @bc-jcarlson Sooty at the moment only works with .msg files, however .eml analysis is coming in the next update. There is quite a large difference in each of the files' headers so they have to be added separately. The plan is to have it self-detect what the mail type is and perform the analysis regardless though. I'm hoping to have the update for .eml out in roughly Early Nov.

[2019-10-15 20:32] TheresAFewConors commented on #30
modified the readme to make it clearer that .eml isn't supported at the moment.

[2019-10-16 10:18] dbailey-indofmd-org commented on #30
Awesome.  Thanks for the info.  Curious still about how to point Sooty at the .msg file.  I don't get a dialog after selecting the #1 and I have tried placing the file just before and just after the selection and it fails with the error I referenced above.  I have also tried placing it in the Sooty directory.

[2019-10-16 13:34] TheresAFewConors commented on #30
@dbailey-indofmd-org A wiki in on the way to show where all the options are, since there's a lot in there now. For now, from the main menu select 'Option 6 - Phishing Analysis' to open the phishing menu, then you have a choice of either Option 1 - analyze the headers and contents, or Option 3 - to generate out a basic template based on the same analysis in Option 1. You should get a file explorer

[2019-10-16 13:41] dbailey-indofmd-org commented on #30
It does.  I am running this in WSL Ubuntu and was expecting different interaction.  I will install on Windows and see how it goes.

[2019-10-16 13:44] TheresAFewConors commented on #30
ah apologies, there's a known issue with *nix systems at the moment to do with the package being used for .msg analysis. I'm looking to write a different one from scratch for the same reason as the .eml mails. If you have any issue on Windows let me know and I'll take a look at it for you

[2019-10-16 13:45] dbailey-indofmd-org commented on #30
Cool.  Thanks for all the help.

[2019-10-16 17:21] dbailey-indofmd-org commented on #30
cryptography==2.7 won't install says it is missing MS Visual C++ 14.0 but I have installed it and rebooted.  Does your build require a specific version to work with Windows?

[2019-10-16 18:10] dbailey-indofmd-org commented on #30
/Tcbuild\temp.win32-3.8\Release\_openssl.c /Fobuild\temp.win32-3.8\Release\build\temp.win32-3.8\Release\_openssl.obj
  _openssl.c
  build\temp.win32-3.8\Release\_openssl.c(498): fatal error C1083: Cannot open include file: 'openssl/opensslv.h': No such file or directory
  error: command 'C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\BuildTools\\VC\\Tools\\MSVC\\14.23.28105\\bin\\HostX86\

[2019-10-16 18:30] dbailey-indofmd-org commented on #30
![1](https://user-images.githubusercontent.com/46750138/66947782-7f30c380-f021-11e9-85d6-206d8b737d4a.png)

[2019-10-16 18:34] TheresAFewConors commented on #30
There isn't a specific version required, so long as it is in your PATH. There is a guide on StackOverflow to fix issues like this here: https://stackoverflow.com/a/49986365

[2019-10-16 19:22] TheresAFewConors commented on #30
She's a cruel mistress alright. The goal is to get Sooty completely independent of OS by the end of the year / early next year to avoid weird issues like this one. Let me know how you get on with it and any suggestions / issues you have.

[2019-10-17 13:51] dbailey-indofmd-org commented on #30
That was painful, but I think I got "pip install cryptography" to work with this post:

https://stackoverflow.com/questions/45089805/pip-install-cryptography-in-windows/45089806

Installing openssl and changing environment variables fixed this problem for me.

Install OpenSSL by using the installer from here: https://slproweb.com/products/Win32OpenSSL.html
Use the Win32OpenSSL-1_1_0f, even if your

[2019-10-17 14:00] dbailey-indofmd-org commented on #30
Everything seems to work except the "Analyze an email" function.  Any ideas now that all the requirements are installed?  Test message is definitely a .msg I pulled right from Outlook to my desktop.
I have set up all APIs except HIBP.

 What would you like to do?
 OPTION 1: Analyze an Email
 OPTION 2: Analyze an Email Address for Known Activity
 OPTION 3: Generate an Email Template based on Analys

[2019-10-17 14:20] TheresAFewConors commented on #30
That is strange. If you want I can look at the specific email myself and see if there's a bug somewhere.

Basically from the error, its an issue opening the file, which triggers the rest of the errors as they have nothing to check. It may be an issue with not having read access to the email.

[2019-10-17 14:36] dbailey-indofmd-org commented on #30
Got.  That gives me a way to go.  I will try some other emails.

[2019-10-17 14:53] dbailey-indofmd-org commented on #30
Save As test.msg, closed Outlook, run tool, "Error Opening File".  Terminal open as Admin, permissions on file have full admin access.

[2019-10-20 21:13] TheresAFewConors commented on #30
I'm having an issue replicating this bug. Just to confirm - can you test with a verified and original .msg file through outlook, and confirm that the headers match. If the file is originally .eml and is saved as .msg it won't open until that functionality is added.

[2019-10-21 13:48] dbailey-indofmd-org commented on #30
I open the email from Outlook, select "Save As .msg" and change the name to "test" and then save it to the Desktop.  It is from here that I try to open the file and get the "Error Opening File" message.

[2019-11-20 10:06] naveci opened #32 "Program crash"
Hey,

I was testing out Sooty today, but I ran into an issue just testing out something.
I did a reputation check for a website (first one that came to mind) and i got the following traceback info.

[code]

I haven't had the time yet to find out why this is happening myself. There seems to be an SSL verification issue, but I don't know with which service.

[2019-11-21 16:23] naveci commented on #32
Okay, turns out something is blocking this link for me:
https://check.torproject.org/cgi-bin/TorBulkExitList.py?ip=1.1.1.1
Over a proxy it does seem to work.

I've created a work-around in the code so the program no longer crashes.

[2019-11-21 16:31] naveci commented on #32
Fixed in [PR 33](https://github.com/TheresAFewConors/Sooty/pull/33)

[2019-11-21 18:40] TheresAFewConors commented on #32
Hi Naveci - thanks for creating this Issue and accompanying PR.

I've assigned myself and will take a look over the weekend, looks to be a good fix. I'll follow up as soon as I can.

[2019-11-25 18:03] TheresAFewConors commented on #32
Merged [PR33](https://github.com/TheresAFewConors/Sooty/pull/33) with main branch.

[2019-11-25 18:03] #32 closed

[2019-11-26 20:05] TheresAFewConors commented on #30
Is this error still occurring? I will be enabling logging soon to help with further issues like this.

[2019-11-27 13:08] dbailey-indofmd-org commented on #30
On version 1.3 still get error trying to open email.  Should I blow it away and clone it again?

[2019-11-27 20:11] TheresAFewConors commented on #30
Could you try reinstalling with the newest version? (v1.3.1) There were some changes made so it may help with this issue.

[2019-11-27 20:54] dbailey-indofmd-org commented on #30
Well, now I have installed 1.3.1 and now pip install cryptography==2.7 won't install again and now the email function does not work at all.  I will revisit this after the holiday.  Sorry for all the hassle.
I am starting to think it is my Python install and not your application.

[2019-11-27 21:32] TheresAFewConors commented on #30
Its no hassle at all, let me know after the holidays when you get a chance and we'll see about getting this working for you.

[2019-12-02 17:48] TheresAFewConors opened #36 "Tracking Case for PR35"
Tracking case for [PR35](https://github.com/TheresAFewConors/Sooty/pull/35#pullrequestreview-325415833)

- Introduces Github workflow with *linting_check.yaml*
- Bugfix for problems with certain packeges.

[2019-12-02 17:50] TheresAFewConors commented on #36
[PR35](https://github.com/TheresAFewConors/Sooty/pull/35#pullrequestreview-325415833) merged.

[2019-12-02 17:50] #36 closed

[2019-12-03 14:27] marcobelmonte commented on #30
I'm having this exact problem with opening .msg files but I also see above that you say Linux has a problem that is a known issue. I'm using the latest version - will I need to install Sooty into Windows to use it for mail based functionality?

[2019-12-03 15:09] TheresAFewConors commented on #30
@marcobelmonte At the moment yes, the package used to import .msg files is specific to Windows. However I'm hoping to fix that issue in the near future as it also affects .eml files as well. So all mail extensions and OS issues should be fixed in 1.4.

I'm keeping this issue open until then, so if you want to watch the ticket you'll get a notification when its closed (fixed).

[2019-12-03 20:00] dbailey-indofmd-org commented on #30
Here are the errors I am getting on the newest Windows version:
![2](https://user-images.githubusercontent.com/46750138/70085054-844fcf00-15dd-11ea-9be0-446dcb7ae4a0.png)

Here is the list of pip packages I have installed and the "pip check" shows no issues.

![2](https://user-images.githubusercontent.com/46750138/70085109-9d588000-15dd-11ea-849b-d0346a7e4141.png)

BTW Having the API keys in a .ya

[2019-12-04 04:59] aki2419 opened #37 "Non-ASCII character"
When trying to launch Sooty, getting the below error.

python Sooty.py
  File "Sooty.py", line 822
SyntaxError: Non-ASCII character '\xe2' in file Sooty.py on line 822, but no encoding declared; see http://python.org/dev/peps/pep-0263/ for details

[2019-12-04 13:08] naveci commented on #37
@TheresAFewConors
Adding `# coding: utf-8` to the top of the file might help
Otherwise, changing that dot to a simple minus-sign should fix it as well.

The latter might be preferable.

[2019-12-04 13:40] naveci opened #39 "Redoing the menus to clean up the code"
**What is the feature that you are requesting?**
I'm thinking of redoing the menus to clean up the code. By putting the contents in dictionaries, we could generate the menus more consistently. It would allow us to take a lot of the printing code out. I haven't counted lines, but it might be quite a lot.
Another advantage: adding a new function only requires an edit in one part of the document - th

[2019-12-05 18:32] TheresAFewConors commented on #39
Seems like a useful update. The menu does need to be redone since the project has grown a lot since version 1.0 into something more maintainable for the future.

[2019-12-05 18:38] TheresAFewConors commented on #37
Hi @aki2419 Thanks for creating this ticket to tracker the issue. I have updated the code so if you want to redownload Sooty it should solve the issue you had.

For documentation:
The bug was caused on line 822: `      print('     • %s' % each)`, replacing the bullet point with a hyphen solved this issue.

@naveci Same idea I had, simply add a hyphen! Thanks for the input!

[2019-12-05 18:38] #37 closed

[2019-12-06 02:52] aki2419 commented on #37
@TheresAFewConors Yes, that solved the issue after I had made some changes. Since i was python 3.x i had to change from library names as well then it worked out great. You might want to change the bullet points at these locations as well. From 930 till 944, 960,963,966,977,970,971,974

[2019-12-06 09:52] naveci commented on #37
put a fix for the other characters in a PR.
@aki2419 I'm also running Python 3. 3.7 to be exact. What's not working and what is your exact version?

[2019-12-06 19:31] aki2419 commented on #37
@naveci I am using 3.6 version of Python. As of now everything is working after I had changed the import modules name and removed the bullet points e.g. HTMLParser to html.parser, urllib.parser to url.parser. etc..

[2019-12-09 03:09] aki2419 opened #41 "WhoIs lookup endless loop"
**Describe the bug**
When using the Option 4: DNS lookup and select option 3: WHOIS Lookup, when entering any of the requested i.e. IP / Domain the result goes into endless loop, it does not exit after giving the output. See attached
<img width="185" alt="WhoIs-1" src="https://user-images.githubusercontent.com/34571464/70404186-42041300-1a5f-11ea-8526-57b65d288391.PNG">

**Reproduction Steps**
Ste

[2019-12-09 09:15] aki2419 commented on #41
@TheresAFewConors The same issue happens when we use Reputation Scanner

[2019-12-09 14:52] naveci commented on #41
@aki2419 couple of questions as I cannot replicate it.

- what's your python version?
[code]
- Did you install in a virtual env of some sorts? Something like the following:
[code]
OR do you have a .venv or venv or something like that in the Sooty directory?

- Whats your pip list output? Should look something like this:

[code]

[2019-12-09 14:53] TheresAFewConors commented on #41
I tried it with the same `8.8.8.8` value seen in your screenshot and got a different output, seems to be working correctly here:

![image](https://user-images.githubusercontent.com/31410218/70445137-f66b5c80-1a92-11ea-9734-86d977fca31e.png)

Are you able to correctly ping the IP?

The issue you're having seems to be that the IP is not found, so it then attempts to resolve the address as a backup,

[2019-12-10 02:58] aki2419 commented on #41
@TheresAFewConors Thank you.. that makes sense now... Since ping is blocked at my workplace i can see that it must be looping to reach the destination.. Just a suggestion, for such scenarios can you change the code such that it will try 3 times and then exit out of the loop...

[2019-12-10 11:32] TheresAFewConors commented on #41
@aki2419 Applied a fix that prevents the loop from occurring in the WhoIs lookup. The issue with the reputation check was originating from the WhoIs bug also. Both are now fixed.

[2019-12-10 11:32] #41 closed

[2019-12-20 13:22] naveci commented on #39
Is it possible to create a separate branch for dev?
Then I can PR against that, which allows a bit more testing before merging into master. I've found a nice way of building the menu's, but it's definitely an overhaul.

[2019-12-20 18:51] TheresAFewConors commented on #39
@naveci I created a dev branch that should fulfill what you need.

[2019-12-20 19:00] TheresAFewConors commented on #21
Creating comment to track features from this ticket. Corresponding card in Projects will be created for remaining features.

## VirusTotal
- ~~URL scan~~
- ~~submit file hash~~

## Alien Vault OTX - pull reputation data on:
- domain
- ip

## Apility
(they have a free API, it has a rate limit, but I haven't hit it ever.
- domain
- ip

[2020-01-26 01:35] TheresAFewConors opened #42 "Update to use Email Rep API Key"
**What is the feature that you are requesting?**
Update email rep checker to utilize API key for extended requests

**Additional information**
No

**Is your feature request related to a problem? Please describe.**
Currently limited with very few requests that can be used, using an API key gives two options depending on the key:
- Free: 50 queries per day
- Enterprise: Unlimited

Still allows for S

[2020-01-26 21:33] rdhamrick opened #43 "Cannot get Sooty.py to launch"
**What is the Issue you are experiencing?**
Give a description of what issue you are facing? eg. issue installing from requirements file, etc.

I have cloned the Sooty github page, installed the requirements, and I am running Python 3+. whenever I CD into the 'sooty' directory, I cannot get the application to launch.

**What Operating System are you using?**
The OS of the device that Sooty is runn

[2020-01-26 23:52] TheresAFewConors commented on #43
Hi @rdhamrick,

When you say you cannot get Sooty to launch - are you receiving an error message of something failing? There is currently an issue with Linux however this only affects the phishing part of the tool, and should allow you to use everything else.

[2020-01-26 23:56] rdhamrick commented on #43
Yes, it says that 'sooty.py' is not in a directory. I have double checked and everything, and this same setup was working fine on my macbook, but not in the VM for some reason. Its 100% possible I have something configured incorrectly, though.

[2020-01-27 00:04] TheresAFewConors commented on #43
I added an extra step to the readme that contains the initial command to launch the tool, however it sounds as though it may not be able to find sooty. Just to double check, could you try the following steps:
- Download and unzip the repo.
- The unzipped folder is called Sooty-Master, and there are two levels, so `cd Sooty-master` a second time.
- `ls -l` to ensure you are in the correct dir, you

[2020-01-30 17:19] mrmeeseeks2014 opened #45 "hashRating defaulting to "Hash was not found in Malware Database""
**Describe the bug**
When utilizing the function hashRating(), as soon it hits:
`if value['detected'] == True:`
it moves to the except statement.

**Reproduction Steps**
Steps to reproduce the behavior:
1. removed function to isolate the code
2. add print statements before and after if and for lines
3. used known bad hash: e428cee7a89bf236f43c1ef30de2e58d96ce7763b658cb1dfae3cfc246933713
4. adding

[2020-01-30 17:43] mrmeeseeks2014 commented on #45
My version:
`def hashRating():
    apierror = False
    count = 0
    # VT Hash Checker
    fileHash = str(input(" Enter Hash of file: ").strip())
    url = 'https://www.virustotal.com/vtapi/v2/file/report'

    params = {'apikey': '521751602a03baa4797c8b88cf84eae57de444a95b2ee28f9d1f4ae62d6c6f30', 'resource': fileHash}
    response = requests.get(url, params=params)

    try:  # EAFP
        resu

[2020-01-31 11:24] TheresAFewConors commented on #45
@mrmeeseeks2014 Thanks for opening an issue, and nice find with the this bug.

I tested your fix and it seems to be working correctly as far as I can tell. I made a small edit to the

`params = {'apikey': ... }` field for two reasons:
- remove your API key from being hardcoded
- to use the config file

If you want to open a pull request for this I'll add it as a hot-fix so you get credit. The dev

[2020-01-31 21:32] mrmeeseeks2014 commented on #45
I had issues with "pull request" so I just forked off your repository and made the change there.

I am new to using/contributing to Github, which could have been the issue too.

[2020-02-01 14:00] TheresAFewConors commented on #45
Thats fine, you have to fork the repo first to make changes before you can open a PR anyway. Once you're happy with the changes and are ready to merge with the rest of the codebase you can open a PR and then compare your fork with the master branch. [There's a guide here that might help with using Github and PullRequest's](https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-reque

[2020-02-01 18:32] TheresAFewConors commented on #43
@rdhamrick giving this a bump to see if there are still issues or not.

[2020-02-07 15:08] cruisiejay opened #47 "StrictYaml Issue"
This is not a bug, I think this is just me being a rusher, but I am trying to debug my own issue trying to install this,

I have run the requirments.txt against pip and install all the features, I am now in the process of running the sooty.py file

[code]

But when checking

[code]

Looks like I already have it installed?

I wonder if you know how I could look at resolving this!  in the mean time

[2020-02-07 15:26] TheresAFewConors commented on #47
Hi @cruisiejay, it looks like the issue could be the Python version.

The logs shows that the strictyaml package is in your `/usr/local/lib/python2.7/dist-packages` folder, ie. Python 2.7. Sooty requires Python 3.3 or higher for a lot of the features, so this may be the cause.

Would you be able to try it with Python 3 and see if the error still exists?

[2020-02-07 15:37] TheresAFewConors commented on #45
PR #48 opened to merge changes.

[2020-02-07 15:41] naveci commented on #47
Please check your installed python version indeed.
`python --version`
if that spits out 2.7.x as @TheresAFewConors states, try the following:
`python3 --version`

Otherwise you might need to check if you even have python 3 installed on your system. A lot of the more "stable" linux distros still come with python 2.7 and so does MacOS. You need to manually install python 3.
With mac, this is easily

[2020-02-07 15:42] #45 closed

[2020-02-07 15:43] naveci commented on #39
First version is up:
https://github.com/naveci/Sooty/tree/menu-redesign

Still need to fix a few minor things (press any key to continue) etc.
Also looking at a slightly nicer representation like your current one.
I think the code is already a bit cleaner and lost about 100 lines (give or take).

Will merge with dev when i feel it's ready =)

[2020-02-07 15:44] TheresAFewConors commented on #47
Looks like Kali is being used, so Py2.7 is the default afaik.

[2020-02-07 15:59] TheresAFewConors commented on #39
@naveci no rush, I'm in the midst of a code refactor and moving some of the modules around on Dev to clean up and improve usability atm.

[2020-02-09 21:18] TheresAFewConors commented on #43
closing due to inactivity for 2 weeks.

[2020-02-09 21:18] #43 closed

[2020-02-10 10:13] cruisiejay commented on #47
Happy monday guys,  Thank you for the pointers so far

Version Check
``root@kali:/home/kali/Desktop# python --version
Python 2.7.17
root@kali:/home/kali/Desktop# python3 --version
Python 3.7.6``

Using python3

``root@kali:/home/kali/Desktop/Sooty# python3 Sooty.py
Traceback (most recent call last):
  File "Sooty.py", line 17, in <module>
    import strictyaml"``

uninstalling and reinstalling the

[2020-02-10 15:14] TheresAFewConors commented on #21
Giving this a bump to see if it is still active.

[2020-02-10 15:45] naveci commented on #47
Could you run a `pip3 list` in the same directory.
Also, I'm curious if you've installed virtual environment beforehand or just ran the `pip install -r requirements.txt` directly.

[2020-02-10 16:08] cruisiejay commented on #47
@naveci I feel like such a layer 8 right now, nailed it using the wrong pip, completely forgot pip3 existed............

l

[2020-02-10 16:08] #47 closed

[2020-02-10 21:41] rdhamrick commented on #43
Thanks guys - problem is fixed now sorry, I was on the road for a couple days.

Sent from Yahoo Mail on Android

  On Sun, Feb 9, 2020 at 4:18 PM, TheresAFewConors<notifications@github.com> wrote:
Closed #43.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-02-26 16:20] oussama101 opened #50 "No Module named 'strictyaml'"
**Describe the bug**
Hi while I was trying to launch Sooty for the first time. I received a message error that no module named 'strictyaml'. This stopped launching Sooty
**Reproduction Steps**
Steps to reproduce the behavior:
1.navigate the the main branch on cli
2. launch Sooty by command python3 Sooty.py
3. error pop up and no further action
...

**Expected behavior**
Application to launch

**Sc

[2020-02-26 17:36] TheresAFewConors commented on #50
Hi @oussama101, thanks for opening an issue.

Have you installed from the requirements file first before launching Sooty for the first time?

[2020-02-26 18:59] oussama101 commented on #50
@TheresAFewConors  Yes. I have double-checked and all are marked as requirement already satisfied.

[2020-02-26 19:02] TheresAFewConors commented on #50
could you try run `pip3 list` and see if the strictlyaml module exists there? It may be an issue using the wrong pip version.

[2020-02-26 19:04] oussama101 commented on #50
@TheresAFewConors  run the `pip3 list` and strictyaml module does not exist there.

[2020-02-26 19:08] TheresAFewConors commented on #50
@oussama101 okay - looks like the issue is that its installing the modules for the wrong environment. could you try running: `pip3 install -r requirements.txt` and then verify the module installed with `pip3 list`?

[2020-02-27 13:36] oussama101 commented on #50
@TheresAFewConors  sorry for the delayed response. That seems to fix the issue. I was able to start Sooty after. Thank you for all the help much appreciated.

[2020-02-27 17:30] TheresAFewConors commented on #50
@oussama101 Not prob, glad it worked for you.

[2020-02-27 17:30] #50 closed

[2020-03-03 09:47] emilstahl opened #51 "Analyze an Email - .eml support"
**What is the feature that you are requesting?**
.eml support for the _ Analyze an Email_ feature. As .msg is Windows only.

[2020-03-05 17:43] TheresAFewConors commented on #51
Hi @emilstahl
This is a known issue and is currently being worked on.

This issue is being tracked under #30

[2020-03-05 17:44] #51 closed

[2020-03-16 11:58] Phil-ThePower-Pearce opened #52 "No module named 'tkinter'"
**Describe the bug**
No module named 'tkinter' when running for first time

Traceback (most recent call last):
  File "Sooty.py", line 21, in <module>
    import tkinter
ModuleNotFoundError: No module named 'tkinter'

**Reproduction Steps**
Steps to reproduce the behavior:
1.  git clones repo into dir
2. went to dir
3. pip3 install -r requirements
...

**Expected behavior**
A clear and concise des

[2020-03-16 12:08] Phil-ThePower-Pearce commented on #52
sudo apt-get install python3-tk

[2020-03-18 20:25] TheresAFewConors commented on #52
Hi @Phil-ThePower-Pearce
Could you verify your installed packages with `pip3 list`? and just to confirm - are you are executing Sooty with `python3`?

[2020-04-07 18:50] xapalo opened #53 "No module name "strictyaml""
Can not execute Sooty after install

S.O. Ubuntu Server 18.04.4
Python3
installed all the requirements --> OK
modify API Keys in config.yaml

but when i try to run "python3 Sooty.py" i get this error message:

"Traceback (most recent call last):
  File "Sooty.py", line 17, in <module>
    import strictyaml
ModuleNotFoundError: No module named 'strictyaml'"

[2020-04-07 18:56] xapalo commented on #53
Sorry. Used pip instead of pip3.

Solved.

[2020-04-07 18:59] xapalo commented on #53
I recommend you to update the instructions. I saw a lot of mistakes regarding using pip instead pip3, and i cheked the instructions and say "pip" (not "pip3), so it`s an instruction's mistake... easy to fix.

[2020-04-07 18:59] #53 closed

[2020-04-08 20:21] TheresAFewConors commented on #52
Giving this is a bump to see if issue is still occurring?

[2020-04-15 17:35] TheresAFewConors commented on #52
closing due to inactivity

[2020-04-15 17:35] #52 closed

[2020-06-19 09:19] Az0res opened #55 "IOC extractor from PDF / webpage"
**What is the feature that you are requesting?**
It would be useful to have an ioc extractor from PDF or webpages, to CSV

**Additional information**
Maybe this module would be useful: https://github.com/armbues/ioc_parser

**Additional context**
For instance, a new report from AV vendors came out. I could use Sooty to extract IOCs and input it in our tools.

[2020-06-27 14:03] nitin-techie opened #56 "Debug errors in BadIP APi"
**What is the feature that you are requesting?**
1.) The BadIP API returns "IP Not Found" even for some IPs present in the BadIP DB, i would work on the code to make it full-proof.

**Additional information**
- ...
- ...

**Is your feature request related to a problem? Please describe.**
BadIP is making decision based on just 1 category listed for the IOC.
Customize the code to consider all the ca

[2020-07-14 09:24] Blason opened #57 "Unable to install on Ubuntu 18.04"
Hi,

While installing we are getting below error

 **python3 Sooty.py**
Traceback (most recent call last):
  File "Sooty.py", line 11, in <module>
    import html.parser
ModuleNotFoundError: No module named 'html.parser'

[2020-09-17 16:04] austinsonger opened #58 "Traceback"
**Describe the bug**
Traceback

I've installed this tool many times and have only been able to get it working once and the last 4 times always fails. I work in a SOC and would love to be able to use this for my workflow.

**Reproduction Steps**
Steps to reproduce the behavior:

[code]

**Desktop Operating System:**
 - OS: Ubuntu 18.04, Ubuntu 20.04,  Windows Subsystem for Linux

[2020-09-17 16:05] austinsonger commented on #58
I've had to installed the modules separately sometimes and it still doesn't work.

[2020-10-23 07:30] Maijin opened #59 "Add OPSEC leak disclaimer when using active features"
**What is the feature that you are requesting?**
Some features used in the tool can leak information to attackers and open source intelligence such as the scan to URLscan.
Therefore the tool should provide a one-shot disclaimer and a disclaimer likely in the README.

I would also suggest adding the passive alternative of scan -> search.

**Additional information**

Scanning on URLscan can lead to

[2020-10-23 08:37] znb opened #60 "Sooty.py hard crashes Python3 on macOS 10.15.7"
**What is the Issue you are experiencing?**
All of the dependancies install without any issues. However when I run python3 Sooty.py Python crashes

**What Operating System are you using?**
macOS 10.15.7
Python 3.8.6

**Additional Information**
The issue appears to be in the libcrypto module

[code]

[2020-10-23 14:03] mzje opened #61 "Request for CLI flags as option instead of menu"
Thanks for your work on Sooty so far, super helpful!

I'd like to be able to interact with Sooty via the CLI rather than the text menu.

ie: ./Sooty --sanitise "URL"  or ./Sooty --AnalyzeEmail "email.msg"

It'd make it faster than using the TUI and scriptable.

[2020-10-23 15:30] DoctorOgg commented on #61
should keep both options as the cli would be nice but for some the menu perfered

[2020-10-23 16:26] jenetiks opened #62 "Change URLScan.io default -- add option?"
**What is the feature that you are requesting?**
Default URLScan type to private

**Additional information**
Instead of defaulting to public, what do you think of defaulting to private with an option to choose what you want, or just hit enter to leave default?

**Is your feature request related to a problem? Please describe.**
No problem, just thinking. Before I submit a PR with changes, I wanted

[2020-10-23 17:25] mrn42 commented on #60
See PR #63 to fix your issue

[2020-10-25 01:22] #60 closed

[2020-10-25 01:27] TheresAFewConors commented on #62
that is total fine with me - its a good addition to switch to private by default in my opinion also.

If you want to open a PR ill assign this issue to it as well.

Thanks.

[2020-10-25 01:31] TheresAFewConors commented on #59
Hi Maijin,

There's an open PR that sets the URLScan option to private instead to address this issue. The other options currently do not push by default to the various tools.

I've assigned the PR to this issue.

Thanks for raising it.

[2020-10-25 11:23] Maijin commented on #59
Yep, don't forget that private or public scan more than the URLScan.io public listing, both will also reach-out to attacker infrastructure therefore tipping the attacker about their on-going campaign/valid email address etc.

[2020-10-25 15:39] TheresAFewConors commented on #58
This is related to using pip instead of pip3. Was addressed under #53

[2020-10-25 15:39] #58 closed

[2020-10-26 02:42] sarthak9426 commented on #42
@TheresAFewConors can I take this issue?

[2020-10-26 02:46] TheresAFewConors commented on #42
@sarthak9426 of course - I'll assign this to you now.

Thanks very much.

[2020-10-26 23:00] TheresAFewConors commented on #61
I have added CLI arguments as an option to the feature tracker, and will be worked on in future.

Both options will be available, either by using the built-in menu or using args.

[2020-10-26 23:06] TheresAFewConors commented on #56
@nitin-techie Thanks for spotting an error in the BadIP DB output. It has been some time since you opened this issue however if you are still wanting to work on this fix I will assign it to you.

Direct output to txt would be a nice to have and better than the current method of piping Sooty into a file also.

[2020-10-26 23:09] TheresAFewConors commented on #57
There seems to be several issues with Ubuntu 18.04.

Can you make sure you are using pip3 to install the requirements here? This has solved several similar issues in the past with downloading other packages.

[2020-10-27 03:57] nitin-techie commented on #56
@TheresAFewConors -- Thanks for the acknowledgement.
Please assign it, and i will begin to work on this.

[2020-10-27 16:23] TheresAFewConors commented on #56
@nitin-techie assigned to you now.

[2020-10-27 23:16] nitin-techie commented on #56
@TheresAFewConors -- Hi, its done. Pls Review.

[2020-10-28 14:42] #56 closed

[2020-10-28 16:24] neilunderwood opened #70 "Windows 10 2004 Cryptography fails to install"
**What is the Issue you are experiencing?**
Give a description of what issue you are facing? eg. issue installing from requirements file, etc.
Cannot get past PEP 517 during cryptography install

**What Operating System are you using?**
The OS of the device that Sooty is running on.
--Windows 10 Pro 2004
--Python 3.8 via Windows Store (Tried 3.9 from Python website as well)

**Additional Informati

[2020-10-28 17:29] nitin-techie opened #71 "Output to Txt file"
**What is the feature that you are requesting?**
The feature will automatically create a TxT file with the name of the URL, IP provided for reputation check and save the output of the reputation check feature to that file with proper formatting.

**Additional information**
If further / more specific details are required, feel free to list them here.
- ... This feature will allow users to maintain

[2020-10-28 17:45] TheresAFewConors commented on #70
it looks like a sys env issue:
`fatal error C1083: Cannot open include file: 'basetsd.h': No such file or directory`

This same error message also [appeared here](https://github.com/Azure/azure-iot-sdk-python/issues/82)

The error is related to not being able to find a .h file, which has some guidelines [here on how to fix](https://social.msdn.microsoft.com/Forums/en-US/7843071f-0767-4af4-b645-508

[2020-10-28 22:32] neilunderwood commented on #70
Thanks for that.  It helped me get past the initial portion with "basetsd.h" missing (my fault I had just forgot to reboot after installing SDK + VC++).  Now it's complaining about 'openssl/opensslv.h' while trying to build wheel for cryptography (PEP 517):

  Building wheel for cryptography (PEP 517) ... error
  ERROR: Command errored out with exit status 1:
   command: 'C:\Users\cpi\AppData\Loca

[2020-10-29 17:06] neilunderwood commented on #70
I ran a search on my C: drive for this file "opensslv.h" and it does not exist

[2020-10-29 19:31] TheresAFewConors commented on #70
Looks like it's related to your installation of OpenSSL. Try reinstalling.

If your python env is not restricted to VS can you try running the tool from the cmd line?

[2020-10-31 16:41] #62 closed

[2020-11-01 02:56] robmitch5 opened #73 "ModuleNotFoundError when trying to run"
/Sooty-master/Sooty.py", line 10, in <module>
from unfurl import core   ModuleNotFoundError: No module named 'unfurl'
MacOS Catalina

[2020-11-03 04:42] rajarshiparmar1410 commented on #57
Use "pip3 install -r requirements.txt".

[2020-11-05 04:28] VAN1LLAG0RILLA commented on #73
Sounds like you'll need to manually add some modules. I was in the same boat

[2020-11-05 18:28] richenash opened #74 "Issue installing requirements"
Issue installing requirements

Collecting dfir-unfurl (from -r requirements.txt (line 6))
  Could not find a version that satisfies the requirement dfir-unfurl (from -r requirements.txt (line 6)) (from versions: )
No matching distribution found for dfir-unfurl (from -r requirements.txt (line 6))

**What Operating System are you using?**
Kali / Debian

[2020-11-05 18:36] richenash commented on #74
Ignore - used "pip3 install -r requirements.txt"

[2020-11-05 18:36] #74 closed

[2020-11-06 13:53] mzje opened #75 "Visual Studio 2015 dependency"
Apologies if this is a daft question but to get the email analysis working I had to install VS 2015 Update 3 however I note that mainstream support has now ended. (https://support.microsoft.com/en-gb/lifecycle/search/1117)

Is there a more recent version this works with/is there a plan to move to something newer?

[2020-11-06 14:51] neilunderwood commented on #70
Sorry.  Just don't have time to troubleshoot this at the moment.  I'll close.

[2020-11-06 14:51] #70 closed

[2020-11-23 22:57] #71 closed

[2020-11-23 23:02] TheresAFewConors commented on #73
ah Ill fix this now - one moment.

[2020-11-23 23:04] TheresAFewConors commented on #73
ok that should be fixed now - the unfurl package was missing the version number so wasn't installing correctly.

@robmitch5 can you redownload the requirements.txt file and try installing again?

[2020-11-23 23:08] TheresAFewConors commented on #75
hi @mzje

I run python from the cmd line / develop in Pycharm so I don't tend to see issues that come up from VS. If you install python system wide and run from cmd.exe it should function correctly.

I may in future look into providing support for VS, but currently that is not supported.

[2020-11-24 01:01] robmitch5 commented on #73
redownloaded and unfortunately i receive the same error.

[2020-11-25 03:44] TheresAFewConors commented on #73
did you reinstall from the requirements file? `pip install -r requirements.txt`

[2020-12-03 03:30] robmitch5 commented on #73
Same error " from unfurl import core
ImportError: No module named unfurl" ... reinstalled and requirements file
  ***** $ pip install -r requirements.txt
Only one ignored : Ignoring pywin32: markers 'sys_platform == "win32"' don't match your environment
All others Requirement already satisfied

[2020-12-03 14:02] xxCoffeexx opened #77 "Virustotal error"
Pip install the requirement.txt in Kali linux.

 ---------------------------------
 R E P U T A T I O N     C H E C K
 ---------------------------------
Enter IP, URL or Email Address: 8.8.8.8

 WHO IS REPORT:
  CIDR:      8.0.0.0/9
  Name:      LVLT-ORG-8-8
  Range:     8.0.0.0 - 8.127.255.255
  Descr:     Level 3 Parent, LLC
  Country:   US
  State:     LA
  City:      Monroe
  Address:   100 Ce

[2020-12-06 02:18] sarthak9426 commented on #77
@xxCoffeexx Did you rename the example_config.yaml to config.yaml as written in the Readme before running the program?

[2020-12-09 15:12] adrianckc opened #78 "Unable to use the tool when use ubuntu with proxy setting"
**What is the Issue you are experiencing?**
Give a description of what issue you are facing? eg. issue installing from requirements file, etc.
Cannot use the sooty.py when i use the ubuntu PC with proxy setting

**What Operating System are you using?**
The OS of the device that Sooty is running on.
ubuntu 20

**Additional Information**
Any additional information that may benefit this case.

[2020-12-13 15:43] TheresAFewConors commented on #77
@xxCoffeexx looks like its related to the API key for VT - its free to set up, just make sure you rename the file from `example_config.yaml` to `config.yaml`

[2020-12-13 15:44] TheresAFewConors commented on #42
linked PR and closed issue as resolved

[2020-12-13 15:44] #42 closed

[2020-12-13 15:47] TheresAFewConors commented on #78
Can you show me the error you are receiving? It's likely related to a certificate issue which can be toggled off system wide.

[2020-12-13 15:49] TheresAFewConors commented on #73
im unable to recreate this issue on my end - can you run `pip list` and see if there's a `dfir-unfurl` on there? should be listed as version: 20200812

[2020-12-30 00:42] TheresAFewConors commented on #78
just giving this a bump - if no response ill close this out

[2020-12-30 00:43] #77 closed

[2020-12-30 00:44] #75 closed

[2020-12-30 00:45] TheresAFewConors commented on #73
giving this a bump to see if the issue still persists - ill close out if no response.

[2020-12-30 19:26] robmitch5 commented on #73
thanks for the follow-up... I haven't had a look due to the holiday rush but I plan on checking within the next couple of days.

will follow-up!

[2020-12-31 05:48] austinsonger opened #80 "Add ahmia.fi Blacklist"
**What is the feature that you are requesting?**
Detect a DNS Query of Onion Website with ahmia.fi blacklist

**Additional information**
WEBSITE
 ![](https://i.imgur.com/Dm8V6UT.png)

CHild Abuse Onion URL HASHes
![](https://i.imgur.com/qXNMrR9.png)

**Is your feature request related to a problem? Please describe.**
AlienVault didn't detect this and it would be nice to use Sooty to automatically h

[2021-01-05 03:36] TheresAFewConors commented on #80
I think this would be a great addition. Are you currently working on this or is this a request for it to be added? Either way is fine.

[2021-01-05 03:39] TheresAFewConors commented on #78
closing due to no updates on issue

[2021-01-05 03:39] #78 closed

[2021-01-05 03:41] TheresAFewConors commented on #73
Not to worry - ill keep this open for now then, enjoy the holiday break!

[2021-01-05 03:46] #57 closed

[2021-01-05 03:46] TheresAFewConors commented on #57
closing due to lack of response

[2021-01-05 03:47] #14 closed

[2021-01-05 05:36] austinsonger commented on #80
Yeah i could. What section in Sooty would this be best to be placed?

[2021-01-09 21:55] TheresAFewConors commented on #80
I think it would work under the reputation checker (option 3), since it essentially is performing that action. For now though, if you want to put it under its own option in the main menu (option 8 is free) it can then be moved later with the URL Scan option.

Thanks!

[2021-01-10 14:40] robmitch5 commented on #73
I've attempted a complete uninstall and reinstall. However, when I run python3 Sooty.py.  I get Traceback (most recent call last):
File "Sooty.py", line 11, in <module> from unfurl import core  ModuleNotFoundError: No module named 'unfurl'

When I run pip list I get the below.
ansible            2.9.14
appdirs            1.4.4
asn1crypto         0.24.0
attrs              20.3.0
Babel

[2021-01-11 02:40] austinsonger opened #81 "[Enhancement] Spiderfoot Integration (Optional Choice)"
### **What is the feature that you are requesting?**
Come up with a way of linking a Spiderfoot instance to sooty. Spiderfoot can be run completely through python CLI now.

**Additional information**

- This would be an additional reputation option, so if a user would enable Spiderfoot option then the reputation option in Sooty would become disabled, because all the reputation capabilities in Soot

[2021-01-16 11:13] TheresAFewConors commented on #73
@robmitch5 it took a bit of time but I was able to recreate the bug.

It looks like its tied to the `unfurl` package required when you specify `python3` instead of just `python`, and appears to fail on install of the `ansible` package. It does seems to work correctly though if I don't specify `python3`, and instead just run `python Sooty.py`, which is interesting.

Could you try that on your end a

[2021-01-16 11:24] TheresAFewConors commented on #81
I took a look at the Spiderfoot documentation and it seems to be linking to several API's in the same way as Sooty. I can go through that list add some of those modules to Sooty simply enough, and it should integrate with the existing reputation checker without further config too.

Ill keep this issue open for the time being and ill update it when I've added some of the modules to the tool.

Thank

[2021-01-18 00:04] robmitch5 commented on #73
@TheresAFewConors
Below are the results.

python Sooty.py
Traceback (most recent call last):
  File "Sooty.py", line 11, in <module>
    from unfurl import core
ImportError: No module named unfurl

[2021-01-25 15:11] axuxfxa opened #82 "Generate Email Template"
Hello!

**What is the Issue you are experiencing?**
Issue running the "Generate email template based on analysis" feature. When I insert an outlook email file (in .msg format), it shows the following error:

 Threshold reached for VirusTotal:
   60 seconds remaining...
   45 seconds remaining...
   30 seconds remaining...
   15 seconds remaining...
Traceback (most recent call last):
  File "Sooty.

[2021-01-31 00:00] TheresAFewConors commented on #82
Hi @axuxfxa,

The error you are receiving is related to VirusTotal, and does require an API key in order to function correctly. API keys are free for VirusTotal and can be obtained by [signing up here](https://www.virustotal.com/gui/join-us).

Ill mark this as a bug though as it shouldn't be throwing an exception and get that resolved. Thanks for raising it!

[2021-02-02 03:20] axuxfxa commented on #82
Ah, thank you! I have all the API keys except HIBP and PhishTank. The VirusTotal key seems to work fine for the Reputation Checker. Strange how it fails for this feature.

[2021-02-07 03:21] indigocarmen commented on #73
I hit this as well - initially was using Python 2.7.18. Switching the command to python3 (Python 3.8.6) fixed the issue.

[2021-02-14 02:28] scan003 opened #83 "sandbox feature request"
**What is the feature that you are requesting?**
Looking for feature to submit sample to sandbox provider like hybridanalysis and url re categorization submissions.

**Additional information**
It will be great if an analyst can submit sample to open source sandbox or commercial sandbox providers or submit url re categorizations to firewall provider portals. Also it will be great if you include ste

[2021-02-15 15:33] basedfir opened #84 "'configvars' undefined when not within docker container"
**Describe the bug**
Hi mate, this bug is only present when launching sooty with 'docker run --rm -it sooty'
I had no luck installing on Windows standalone due to some other issues but works fine in docker itself when interacting within the container using 'docker exec -it epic_brahmagupta /bin/bash', then 'python Sooty.py'

Not sure what the link is between interacting within the docker container

[2021-02-20 01:25] TheresAFewConors commented on #84
Thanks for raising the issue - can you confirm if you have the Virus Total API key present in the config file? If the issue persists then it is a new one, otherwise its related to a different bug that is next in line to be done.

[2021-02-21 11:02] basedfir commented on #84
Cheers for coming back to me. Yeah, so the VTtotal API key is present, the only ones that aren’t are phishtank (as they’ve suspended registration).

For whatever reason it says that the config.yaml isn’t found when interacting with the container, but of course is found when inside of the container.

[2021-03-07 23:30] thelordharry commented on #73
I get this:

Sooty-master# python3 Sooty.py
Traceback (most recent call last):
  File "Sooty.py", line 11, in <module>
    from unfurl import core
ImportError: cannot import name 'core' from 'unfurl' (/usr/local/lib/python3.8/dist-packages/unfurl/__init__.py)

PIP3 LIST:

Sooty-master# pip3 list
Package                Version
---------------------- --------------------
alabaster              0.7.8

[2021-03-07 23:47] thelordharry commented on #73
Installed Python (2) and tried again:

Sooty-master# python Sooty.py
Traceback (most recent call last):
  File "Sooty.py", line 11, in <module>
    from unfurl import core
ImportError: No module named unfurl

So for me, 2 or 3 does not work.

[2021-03-07 23:58] TheresAFewConors commented on #73
@thelordharry thanks for letting me know - looks like the unfurl package is causing issues on *nix systems when installing from the requirements.txt file, can you try manually installing the missing packages? If that doesn't work I'll add it as a bug and work on correcting it

[2021-03-08 00:25] thelordharry commented on #73
I've been going through one-by-one and installing the missing packages by running the **python3 Sooty.py** command and then waiting for it to fail with the required missing module name. I'd correlate that to the requirements.txt and then (for example) type > **pip3 install dfir-unfurl==20200812**

However, I've gotten to the stage below:

Sooty-master# python3 Sooty.py
Traceback (most recent call

[2021-03-08 00:32] TheresAFewConors commented on #73
Thanks for going through them - just to confirm you have installed packages from the requirements.txt file too?

'pip install -r requirements.txt'

The error you are getting now is related to a missing package on your system. Some corporate networks will block downloading python libraries for good reason, so make sure you're not being blocked too

[2021-03-08 00:42] thelordharry commented on #73
I had previously installed from the requirements.txt with the:

pip3 install -r requirements.txt

command.

I ran it again. Below is the output (apologies in advance for its verbosity!):

Also, I am on my own wireless network and equipment with no restrictions.

Sooty-master# sudo apt install python3-pip
Reading package lists... Done
Building dependency tree
Reading state information... Done
pytho

[2021-03-08 00:45] thelordharry commented on #73
Apologies again as my lack of Python knowledge is not helping matters here, and I appreciate that's not your fault.

But thank you for taking the time to read all this and take a look.

[2021-03-08 00:48] thelordharry commented on #73
If it makes matter easier, I'm more than happy to try another distro. What are you using? Lol, if it works for you, I'll try the same setup and try and replicate it.

Linux blows my mind sometimes, and add on top of that the complexities of Python and (boom). Lol.

[2021-03-08 02:07] TheresAFewConors commented on #73
I'll take a look through and see if I can identify the problem shortly.

For using Sooty I tend to use Windows as it's on my work machine by default, and is pretty consistent. There's a few bugs that pop up in *nix that I need to fix

[2021-03-08 19:31] thelordharry commented on #73
Thanks 😊

FWIW I've tried doing the same thing (brand new install) on my Win 10 laptop.

Short story:

After installing Python 3, cloning the Sooty software, and installing all the components of the 'requirements.txt' individually (and without a version number, i.e.: pip install ipwhois), I was then able to launch Sooty.py.

I do not yet understand Python, nor what it all means, but maybe this wil

[2021-03-08 19:40] thelordharry commented on #73
Further: The 'requirements.txt' populated with just the below seems to import without issue. The Sooty.py then launches successfully?

As I say, if you need a specific version number of something, this might mess everything up, but for now, it seems to be working for me!

asn1crypto
certifi
cffi
chardet
cryptography
dfir-unfurl
dnspython
idna
ipwhois
pycparser
pyOpenSSL
PySocks
pywin32
requests
si

[2021-03-16 12:41] TheresAFewConors commented on #73
Glad to hear you got it working. This is mainly tested on Win10 currently so it is easier to get it running.

As for the requirements.txt files you don't *have* to have the specific version defined, but it is usually best practice to avoid issues down the line. The pip docs do a pretty good job of explaining this, [link here](https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-f

[2021-03-16 12:42] #73 closed

[2021-03-23 01:32] DrSKiZZ opened #87 "Docker container has issues installing Trivy"
Here is the error I get when build Sooty.

#14 3.697 aquasecurity/trivy info checking GitHub for latest tag
#14 3.716 aquasecurity/trivy crit unable to find '' - use 'latest' or see https://github.com/aquasecurity/trivy/releases for details
------
executor failed running [/bin/sh -c apt-get install curl -y     && curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/master/contrib/install

[2021-04-04 07:52] johnsilverkim opened #88 "module not found error"
I got an error when running the command  " Python sooty.py"

Error message - File line 12 from unfurl import core
ModulenotFounderror :No module name 'unfurl'

[2021-05-07 18:29] jenetiks commented on #59
I can take a look at adding this in over the weekend! What would you think of providing the URLscan privacy policy instead? Something like:

"May want to check this out before submitting: <link>"

[2021-05-08 02:20] jenetiks commented on #88
You need to install the requirements first. Try the following:

`python3 -m pip install -r requirements.txt`

Should install missing libraries you need to run the app itself.

[2021-09-09 11:13] moshsrv opened #92 "OPTION 3: Reputation Checker simple URL not working exists script"
**What is the feature that you are requesting?**
Give a brief description of what new feature you would like to see added to Sooty.

**Additional information**
If further /more  specific details are required, feel free to list them here.
- inside sooty -->OPTION 3: Reputation Checker-->Enter IP, URL or Email Address: simple URL not working, ip ok, email ok, but URL not ok

**Is your feature reques

[2021-10-27 15:18] ubahmapk opened #93 "Additional system package requirements not listed"
**What is the Issue you are experiencing?**
When installing Sooty on a fresh install of Ubuntu 20.04, the additional system packages were required:
- python3-dev
- python3-tk - required for tkinter
- build-essentials - required for wheel and cffi
- libffi-dev - required for wheel and cffi
(libssl-dev may have also been required. I confess that part of the install got confused. Apologies)

**What O

[2022-03-09 19:12] #88 closed

[2022-03-09 19:13] TheresAFewConors commented on #88
user issue

[2022-04-04 14:33] neilunderwood opened #96 "UnboundLocalError: local variable 'f' referenced before assignment"
**Describe the bug**
A clear and concise description of what the bug is.
I am getting failures on random modules.  The common denominator seems to be "UnboundLocalError: local variable 'f' referenced before assignment".  My example in the screenshot is failing at BadIP's, but other modules fail in this way as well.

**Reproduction Steps**
Steps to reproduce the behavior:
1. launch sooty
2. choose

[2022-05-14 22:43] BartoszJelen commented on #96
I am facing the same problem. In the code, it looks like for def checker,
 try:
        TOR_URL = "https://check.torproject.org/cgi-bin/TorBulkExitList.py?ip=1.1.1.1"
        req = requests.get(TOR_URL)
        print("\n TOR Exit Node Report: ")
        f.write("\n\n --------------------------------- ")
        f.write("\n TOR Exit Node Report: ")
        f.write("\n ------------------------------

[2022-05-18 14:54] bigverm23 opened #98 "Error with checking for Tor exit nodes"
**Describe the bug**
 TOR Exit Node Report:
There is an error with checking for Tor exit nodes:
local variable 'f' referenced before assignment

**Reproduction Steps**
Steps to reproduce the behavior:
1.  Sooty.py
2. OPTION 3
3. enter email address OR IP or URL & click Enter
...

**Expected behavior**
first time using it so I expect it would complete a check and progress.  iThis particular error w